{
	"env": {
		"browser": true,
		"es2017": true
	},
	"extends": "eslint:recommended",
	"parser": "@babel/eslint-parser",
	"parserOptions": {
		"sourceType": "module",
		"requireConfigFile": false
	},
	"globals": {
		"jQuery": "readonly",
		"$": "readonly"
	},
	"rules": {
		"semi": ["warn", "always"],
		"no-undef": "off",
		"no-unused-vars": "off"
	}
}
