/* ===============================================
# Sassのミックスインを記述するファイルです
=============================================== */
@use './variables' as *;

/* ===============================================
# メディアクエリ
=============================================== */
$breakpoint: (
  sm: "screen and (max-width: 520px)",
  lg: "screen and (max-width: 960px)",
);

@mixin mq($bp) {
  @media #{map-get($breakpoint, $bp)} {
    @content;
  }
}

/* ===============================================
# z-index
=============================================== */
$z-index: (
  header: 1000,
);

@mixin z-index($context) {
  z-index: map-get($z-index, $context)
}

/* ===============================================
# line-height
=============================================== */
@mixin l_height($pixels , $height) {
	line-height: calc($height / $pixels);
}

/* ===============================================
# letter-spacing
=============================================== */
@mixin l_spacing($spacing) {
	letter-spacing: calc($spacing / 1000 ) + em;
}